In [3]:
import myreader

In [4]:
df = myreader.read_f1_race_to_data_frame()

In [3]:
# df["DRIVER"] = df["DRIVER"] + "hej"
# df["DRIVER"] = df["DRIVER"].str.replace("\xa0", " ")

In [4]:
# df["DRIVER"][1]

In [5]:
# for i in range(0, len(df)):
#     df["DRIVER"][i]+="hej"

In [6]:
df["DRIVER"]

0               Nino Farina FAR
1             Luigi Fagioli FAG
2               Reg Parnell PAR
3     Yves Giraud-Cabantous GIR
4              Louis Rosier ROS
5                Bob Gerard GER
6             Cuth Harrison HAR
7        Philippe Etancelin ETA
8           David Hampshire HAM
9                   Joe Fry FRY
10       Brian Shawe-Taylor SHA
11             Johnny Claes CLA
12       Juan Manuel Fangio FAN
13                Joe Kelly KEL
14              Prince Bira BIR
15             David Murray MUR
16           Geoff Crossley CRO
17     Toulo de Graffenried DEG
18             Louis Chiron CHI
19            Eugene Martin MAR
20            Peter Walker  WAL
21                Tony Rolt ROL
22           Leslie Johnson JOH
Name: DRIVER, dtype: object

In [7]:
df["DRIVER"][1]

'Luigi FagioliFAG'

In [5]:
df

,POS.,NO.,DRIVER,TEAM,LAPS,TIME / RETIRED,PTS.
0,1,2,Nino Farina FAR,Alfa Romeo,70.0,2:13:23.600,9
1,2,3,Luigi Fagioli FAG,Alfa Romeo,70.0,+2.600s,6
2,3,4,Reg Parnell PAR,Alfa Romeo,70.0,+52.000s,4
3,4,14,Yves Giraud-Cabantous GIR,Talbot-Lago,68.0,+2 laps,3
4,5,15,Louis Rosier ROS,Talbot-Lago,68.0,+2 laps,2
5,6,12,Bob Gerard GER,ERA,67.0,+3 laps,0
6,7,11,Cuth Harrison HAR,ERA,67.0,+3 laps,0
7,8,16,Philippe Etancelin ETA,Talbot-Lago,65.0,+5 laps,0
8,9,6,David Hampshire HAM,Maserati,64.0,+6 laps,0
9,10,10,Joe Fry FRY,Maserati,NaN,SHC,0
10,10,10,Brian Shawe-Taylor SHA,Maserati,64.0,+6 laps,0
11,11,18,Johnny Claes CLA,Talbot-Lago,64.0,+6 laps,0
12,NC,1,Juan Manuel Fangio FAN,Alfa Romeo,62.0,DNF,0
13,NC,23,Joe Kelly KEL,Alta,57.0,+13 laps,0
14,NC,21,Prince Bira BIR,Maserati,49.0,DNF,0
15,NC,5,David Murray MUR,Maserati,44.0,DNF,0
16,NC,24,Geoff Crossley CRO,Alta,43.0,DNF,0
17,NC,20,Toulo de Graffenried DEG,Maserati,36.0,DNF,0
18,NC,19,Louis Chiron CHI,Maserati,24.0,DNF,0
19,NC,17,Eugene Martin MAR,Talbot-Lago,8.0,DNF,0
20,NC,9,Peter Walker WAL,ERA,NaN,SHC,0
21,NC,9,Tony Rolt ROL,ERA,5.0,DNF,0
22,NC,8,Leslie Johnson JOH,ERA,2.0,DNF,0

In [9]:
mystring = 'Luigi FagioliFAG'

In [ ]:
mystring[-3:]

'FAG'

In [17]:
mystring[0:-3]+" "+mystring[-3:]

'Luigi Fagioli FAG'