# mini_project_2.ipynb

In [10]:
import sys
sys.path.append("..")

import pandas as pd
import seaborn as sb
import numpy as np
from reader import generic_reader

Task 1:
First I load the red wine and white wine Excel files into separate pandas data frames.

In [11]:
red_wine = generic_reader.read_excel_file_to_data_frame("wine-data/winequality-red.xlsx", skiprows=1)
white_wine = generic_reader.read_excel_file_to_data_frame("wine-data/winequality-white.xlsx", skiprows=1)

Next, I have a look at the two data frames. I see that they have identical column headers, and that there is 1599 rows in the red wine data frame and 4898 rows in the white wine data frame.

In [12]:
red_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [13]:
white_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

Task 2: I check that there are no missing values, which there is not.

In [14]:
print(red_wine.isna().sum())
print("\n")
print(white_wine.isnull().sum())

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64


fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

Then I check that all values are numeric, which they are:

In [15]:
print(red_wine.map(np.isreal).all())
print("\n")
print(white_wine.map(np.isreal).all())

fixed acidity           True
volatile acidity        True
citric acid             True
residual sugar          True
chlorides               True
free sulfur dioxide     True
total sulfur dioxide    True
density                 True
pH                      True
sulphates               True
alcohol                 True
quality                 True
dtype: bool


fixed acidity           True
volatile acidity        True
citric acid             True
residual sugar          True
chlorides               True
free sulfur dioxide     True
total sulfur dioxide    True
density                 True
pH                      True
sulphates               True
alcohol                 True
quality                 True
dtype: bool

Task 3: I add a "type" column to the data frames, so I can distingiush between "red" and "white" wine.
And then I concatenate the two data frames into a single data frame.

In [16]:
red_wine.insert(0, "type", "red")
white_wine.insert(0, "type", "white")
wine = pd.concat([red_wine, white_wine], ignore_index=True)
wine

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,white,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
6493,white,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
6494,white,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
6495,white,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
6496,white,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

Task 4: I have searched the web and found this journal article:

Cortez et al. (2009) "Modeling wine preferences by data mining from physicochemical properties". Decision Support Systems, Volume 47, Issue 4, Pages 547-553. DOI: 10.1016/j.dss.2009.05.016

Preprint of the article is available here: https://repositorium.sdum.uminho.pt/bitstream/1822/10029/1/wine5.pdf

This article is interesting, because it works with the same dataset as this mini project.

The article explains that the dataset consists of 1599 red and 4898 white vinho verde samples from Portugal.

Task 5:

From (Cortez et al., 2009) I now better understand what the contents of the columns are:

| Column name          | Variable type            | Description                                         |
|----------------------|----------------------|-----------------------------------------------------|
| type                 | Categorical          | "red" or "white"                                    |
| fixed acidity        | Continuous number    | [g<sub>(tartaric acid)</sub>/dm<sup>3</sup>]        |
| volatile acidity     | Continuous number    | [g<sub>(acetic acid)</sub>/dm<sup>3</sup>]          |
| citric acid          | Continuous number    | [g/dm<sup>3</sup>]                                  |
| residual sugar       | Continuous number    | [g/dm<sup>3</sup>]                                  |
| chlorides            | Continuous number    | [g<sub>(sodium chloride)</sub>/dm<sup>3</sup>]      |
| free sulfur dioxide  | Continuous number    | [mg/dm<sup>3</sup>]                                 |
| total sulfur dioxide | Continuous number    | [mg/dm<sup>3</sup>]                                 |
| density              | Continuous number    | [g/cm<sup>3</sup>]                                  |
| pH                   | Continuous number    | [-]                                                 |
| sulphates            | Continuous number    | [g<sub>(potassium sulphate)</sub>/dm<sup>3</sup>]   |
| alcohol              | Continuous number    | [% vol.]                                            |
| quality              | Discrete number      | from 0 to 10                                        |

The 11 variables which are continuos numbers are all machine measured in physicochemical tests.

The quality is based on blind tests by a minimum of three human wine experts.
Each expert graded the wine quality between 0 (very bad) and 10 (excellent).
The median value is used as the final quality score for the wine sample.


**Independent variables**

I indentify the type and the 11 machine measured variables as the independent variables (the input).

**Dependent variables**

I identify the quality as assesed by the human wine experts as the dependent variable (the output).

Task 6: Right now I do not find it necessary to transform the data

Task 7:
Here is the descriptive statistics of the numerical data ( for red wine and white wine seperataly)

In [17]:
red_wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [18]:
white_wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000